@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}



.hove:hover{
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
    transition: .2s;
}



.upper_data h4{
    font-size: 18px;
    color: rgba(17,17,17,0.849);
    letter-spacing: .5px;
    font-weight: 500;
}









.last_data p{
    font-size: 14px;
    margin-top: 18px;
    letter-spacing: .2px;
    color: rgba(17,17,17,0.849);
}



#ex4 .p1[data-count]:after{

    content: attr(data-count);

    border-radius:50%;
    line-height:1em;
    color: white;
    background:rgba(0, 8, 255, 0.85);
    text-align:center;
  }

  #ex4 .fa-stack{
    width: 1.5em;
    color: rgb(0, 0, 0);
  }
  

@media (max-width:600px){
    .con{
        flex-direction: column;
        align-items: center;
    }
    .last_data p{
        font-size: 12px;
    }
   
}